page-login {
 
  .login-content {
    // background: #3df5e1;
 
    .login-box {
      // background: #399F8B;
      // padding: 20px 20px 0px 20px;
      // margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
        //  border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         box-shadow: none !important;
     }

     ion-item.no-border {
      border-bottom: 0px !important;
     }
 
     .signup-col { 
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
      //  border-radius: 30px !important;
      //  border: 1px solid #ffffff;
       width: 100%;

     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }

  .login-text {
    // .item-md p {
      color: #bdbdbd;
      font-size: 1.1rem;
    // }
  }

  .login-text1 {
    margin: 30px 7px 10px 19px;
    font-size: 17px;
  }

  input.text-input.text-input-md {
    margin-left: 0px;
    font-size: 14px;
  }
 .mid-border {
    div {
      height: 50px;
      width: 50px;
      background-color: black;
      color: white;
      text-align: center;
      border-radius: 100%;
      span {

      }
    }
  }
    
  .list-ios.no-border > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;

}

  .bottom-login {
  }
}